/************************************************\
==================================================
1. Font
2. Navbar
3. Citation
4. Footer
==================================================
\************************************************/

/************************************************\
==================================================
1. Font
==================================================
\************************************************/
@font-face {
    font-family: 'VT323';
    src: url('../../fonts/VT323-Regular.ttf');
}

.logo-font {
    font-family: 'VT323';
}

/*!* CSS pour login *!*/
/*.form-signin {*/
  /*background: #f8f8f8;*/
  /*max-width: 330px;*/
  /*padding: 15px;*/
  /*margin: 0 auto;*/
  /*border: 1px solid #e6e6e6;*/
  /*border-radius: 5px;*/
/*}*/



/* grumpy */
.grumpy-image {
    opacity: 0.5;
    max-height: 60vh;
    width: auto;
}

p.grumpy-text {
    opacity: 1;
    position: absolute;
    top: 60%;
    bottom: 50%;
    left: 25%;
    right: 25%;
    color: black;
    font-size: 1em;
    text-align: center;
}

/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/




/************************************************\
==================================================
3. Citation
==================================================
\************************************************/



/************************************************\
==================================================
4. Footer
==================================================
\************************************************/




/************************************************\
==================================================
5. Maps
==================================================
\************************************************/

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 59vh;
    max-height: 700px;
    /*width: 100%;*/
    margin: 0;
    padding: 0;
}

/************************************************\
==================================================
6. This theme
==================================================
\************************************************/

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}