/************************************************\
==================================================
11. MAIL ADMIN
==================================================
\************************************************/
h1 {
    font-family: 'Satisfy' !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 50px;
    color:white;
    text-shadow: 3px 3px 9px black;
    padding-top: px;

}
h1:first-letter {
    color : #ca0000;
}

li {
    list-style-type :none;
}


.mailAdmin{
    padding-left: 20px;
    padding-right: 20px;
}


h4 {
    font-family: 'Satisfy' !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 20px;
    color:white;
    text-shadow: 3px 3px 9px black;
    padding-top: px;

}

h4:first-letter {
    color : #ca0000;
}

.footerAdmin{
    margin-top: 30px;
    padding-top: 15px;
    background-color: #8bc8aa!important;
}

.copyright{
    font-weight: bold;
    font-size: 10px;
}

