/***********************************************\
==================================================
1. General
2. Header __ Navbar //
3. page Home (SLIDER - CONCEPT - MIX- INFOS)
4. page Concept
5. page shop
6. page Contact
6.1 page Success Contact
7. page produit
    (7.1 page resume_order)
    (7.2 page success commande)
8. Footer // 
9. Buttons
10.Page Registration Admin
==================================================
\************************************************/

/************************************************\
==================================================
1. GENERAL
==================================================
\************************************************/
body {
  /*margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;*/
  font-family: 'Raleway';
}

h1 h2 {
  font-family: 'Sacramento' !important;
  text-align: center !important;
}

img {
  max-height:100%;
  max-width:100%;
}

/************************************************\
==================================================
2. INCLUDE HEADER/NAVBAR
==================================================
\************************************************/
#menu {
  background:black;
  margin-bottom:0;
  border:none;
  font-size: 2em !important;
  margin-top: 0 !important;
}
.navbar-navi {
  display: flex !important;
}
.navbar-brand {
  padding-top:8px !important;
  padding-bottom:0 !important;
  margin-left:0 !important;
}
.navbar-inverse .navbar-nav>li>a {
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
}
.nav>li>a>img {
  width:50%;
}

header a {
  text-decoration: none !important;
  color: white !important;
  font-family: 'Raleway';
  font-weight:bold;
}

header a:hover {
  color: red !important;
  background-color: white !important;
  border-radius: 3px;

}

@media (min-width:768px) {
  .navbar-navi {
    display: flex !important;
    width:100%;
    text-align: center !important;
    justify-content: space-around !important;
    align-items: center !important;
    }
  .navbar-nav>li {
    display:inline-block !important;
    float:none;
    }
    
  .navbar-right {
    margin-right: 0;
    }
}



/************************************************\
==================================================
3. PAGE HOME - SLIDER - CONCEPT - MIX- INFOS
==================================================
\************************************************/

/********************SLIDER**********************/

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 0px;
}

.card {
  height: 100%;
}

.carousel-item {
  height: 95vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/********************CONCEPT*********************/

.concept {


  border: 1px !important;
  padding: 30px 15px !important;
  margin-top: 15px;
  margin-bottom: 15px;
 /* width: 1233px;*/

}

.concept h1 {
  font-family: 'Sacramento' !important;
  text-align: center !important;
}

.concept p {
  text-align: center;
}

.btnconcept {
  margin-top: 20px;
}

.btnconcept a {
  text-decoration: none !important;
  text-transform: uppercase;
  color : white !important;

}

.btn1{
  background-color: red;
  border-radius: 3px;
  padding: 15px;
}

/********************MIX*************************/


/********************INFOS***********************/


/************************************************\
==================================================
4. PAGE CONCEPT
==================================================
\************************************************/
.imgconc {
    width: 630px;
    height: 350px;
}
/*blalalala = blablablalaaaaa*/

/************************************************\
==================================================
5. PAGE SHOP
==================================================
\************************************************/
.imgshop {
    width: 700px;
    height: 350px;
}

/************************************************\
==================================================
6. PAGE CONTACT
==================================================
\************************************************/

form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 700px;
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
div{
    margin-top: 2em;
}
label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 100px;
    text-align: left !important;
}
input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
    Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;
    /* Pour donner la même dimension à tous les champs textuels */
    width: 678px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Afin de réhausser les éléments actifs */
    border-color: #000;
}
textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;
    /* Pour donner assez d'espace pour entrer du texte */
    height: 10em;
    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
    Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}
.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 100px; /* même dimension que les étiquettes */
}
button {
    /* Cette marge représente approximativement le même espace
    que celui entre les étiquettes et les champs textuels */
    margin-left: .5em;
    float: right;
}
.errors {
    color: red;
}






/************************************************\
==================================================
6.1 PAGE SUCCESS FORMULAIRE
==================================================
\************************************************/

/************************************************\
==================================================
7. PAGE PRODUIT
==================================================
\************************************************/

.gold{
    color: #FFBF00;
}

/*********************************************
                    PRODUCTS
*********************************************/

.product{
    border: 1px solid #dddddd;
    height: 321px;
}

.product>img{
    max-width: 230px;
}

.product-rating{
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-price{
    font-size: 22px;
}

.product-stock{
    color: #74DF00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info{
        margin-top: 50px;
}

/*********************************************
                    VIEW
*********************************************/

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}

.view-wrapper {
    float: right;
    max-width: 70%;
    margin-top: 25px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

/*********************************************
                ITEM 
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 50px;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
    max-height: 155px;
}

/************************************************\
==================================================
7.1 PAGE COMMANDE
==================================================
\************************************************/


/************************************************\
==================================================
7.2. PAGE SUCCESS COMMANDE
==================================================
\************************************************/

/************************************************\
==================================================
9. FOOTER//
==================================================
\************************************************/
footer {
  margin-top: 20px;
  background-color: black !important;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

.containerFooter {
    display: block;
    text-align: center
}


/************************************************\
==================================================
10. BUTTONS
==================================================
\************************************************/


