{% extends 'admin/adminLayout.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container-fluid mb-5 pb-3">

        <!-- Page Heading -->
        <p class="lead text-center">Error 404, get outta here!</p>
        <img class="rounded mx-auto d-block img-fluid" src="https://media.giphy.com/media/3o7btNHgaljjHV9te0/giphy.gif">

    </div>

{% endblock body %}
