{% extends 'admin/adminLayout.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <a class="text-dark">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <a class="text-dark">Forms</a>
                </li>
                <li class="breadcrumb-item active">Form name</li>
            </ol>
        </div>
        <!-- /.container-fluid-->
    </div>
    <!-- /.content-wrapper-->

{% endblock body %}