{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row text-center success">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>Cher client,</h2>
                <p>Nous avons bien pris en compte votre demande, <br/> Nous vous répondrons dans un délai de 48 heures.</p>
                <a href="index.php?section=home" class="btn btn-success"> Retour à l'accueil </a>
            </div>

        </div>
    </div>

    {#<div id="slide4">#}
    {#</div>#}

{% endblock %}