<!DOCTYPE html>
<html lang="en">

    <head>

        <link rel="icon" type="image/png" href="https://s-media-cache-ak0.pinimg.com/originals/0e/54/6b/0e546b2fe8980de9a753d517a5323508.png" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Sacramento|Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

        <style>
            h1 {
                font-family: 'Satisfy' !important;
                text-align: center !important;
                font-weight: bold !important;
                font-size: 50px;
                color:white;
                text-shadow: 3px 3px 9px black;
                padding-top: px;

            }
            h1:first-letter {
                color : #ca0000;
            }

            li {
                list-style-type :none;
            }


            .mailAdmin{
                padding-left: 20px;
                padding-right: 20px;
            }


            h4 {
                font-family: 'Satisfy' !important;
                text-align: center !important;
                font-weight: bold !important;
                font-size: 20px;
                color:white;
                text-shadow: 3px 3px 9px black;
                padding-top: px;

            }

            h4:first-letter {
                color : #ca0000;
            }

            .footerAdmin{
                margin-top: 30px;
                padding-top: 15px;
                background-color: #8bc8aa!important;
            }

            .copyright{
                font-weight: bold;
                font-size: 10px;
            }


        </style>

    </head>
    <body>

    <div class="mailAdmin">
        <div class="headerMail">
            <h1>Volup't</h1>
        </div>

        <hr>

        <h5>Réception et traitement de votre demande</h5>

        <p>Bonjour {{ email.firstname }},</p>

        <p>Nous avons bien reçu votre message :</p>
        <blockquote>{{ email.message }}</blockquote>

        <p>Une personne de notre équipe reviendra d'ici peu vers vous pour répondre à votre demande.</p>

        <p>A très bientôt.</p>

        <p>L’équipe VolupT</p>
        <p>contact.volupt@gmail.com</p>

        <p>A très bientôt.</p>


    </div>

    <footer class="footerAdmin" align="center"><h4 class="logo">Volup't</h4><p class="copyright">Copyright © 2017, tous droits réservés.</p> </footer>

    </body>
</html>