{% extends 'layout.html.twig' %}

{% block body %}


  <header class="business-header-concept">
    <div class="container">
    </div>
  </header>

    <div class="container">

      <div class="nosproduits">
        <h2>Le concept</h2>
        <p align="center">
          Pour sélectionner nos thés & ingrédients, nous avons établi des critères  importants et incontournables : La politique de développement durable de nos acheteurs, l’origine des thés, la qualité de cueillette, la qualité des circuits de transformation, la traçabilité et les certificats de qualité.</br>
          Certains thés sont produits de façon tellement traditionnelle et naturelle qu’il se suffisent à eux-mêmes, d'autres seront subtilements mis en valeur par la saveur d'une épice, d'un fruit... Pour connaitre les accords les plus appropriés, n'hesitez pas à consulter les conseils d'utilisation dans la description.
        </p>
      </div>

      <div id="slide4">

      </div>

      <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/green-tea-1409078_640.jpg" alt="">
        </div>
        <div class="col-md-6">
          <h3>Thé vert</h3>
          <p>Un thé vert est un thé dont l'oxydation naturelle est rapidement stoppée après la cueillette. Il en résulte un thé non-oxydé maximisant ainsi sa teneur en EGCG et autres catéchines. Le thé vert contient également une concentration importante de L-théanine et une concentration de caféine inférieure à celle du thé noir. Une fois infusé, il peut être consommé chaud ou froid. </br>
            L'arrêt de l'oxydation des feuilles de thé, moment clé dans la production du thé vert, peut être obtenu selon deux méthodes : la méthode chinoise, dans laquelle les feuilles sont chauffées dans des cuves, et la méthode japonaise. Les thés produits selon la méthode japonaise bénéficient d'un arrêt de l'oxydation à la vapeur ce qui préserve davantage les propriétés des feuilles de thé qu'avec la méthode chinoise. Ces thés de qualité se reconnaissent à la couleur foncée de leurs feuilles, à leur odeur d'algues une fois infusés et à leur goût herbacé et iodé.
          </p>
          <p align="center"><a class="btn btn-concept-page" href="#">En voir plus</a></p>
        </div>
      </div>
      <!-- /.row -->

      <div id="slide2">

      </div>


      <!-- Project Two -->
      <div class="row">
        <div class="col-md-6">
          <h3>Thé noir</h3>
          <p>Un thé noir, ou anglo-indien, est un thé qui a subi une oxydation complète. La plupart des thés consommés en Occident sont des thés noirs, fabriqués selon le procédé « orthodoxe » ou le procédé « CTC », deux modes de fabrication mis au point par les Britanniques au XIXe siècle. Alors qu'un thé vert perdra de sa fraîcheur après 12 à 18 mois, un thé noir peut se conserver plusieurs années sans perdre sa saveur. Il est donc plus facilement transportable et commercialisable. Ces raisons ont fait longtemps préférer ce thé en Occident. </br> Ces thés sont nommés thés rouges dans le monde chinois.</p>
          <p align="center"><a class="btn btn-concept-page" href="#">En voir plus</a></p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/tee-1022443_640.jpg" alt="">
        </div>
      </div>
      <!-- /.row -->

      <div id="slide3">

      </div>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/wheatgerm-grass-1169630_640.jpg" alt="">
        </div>
        <div class="col-md-6">
          <h3>Thé matcha</h3>
          <p>Le matcha (prononcé au Japon [mat.tɕa]), occasionnellement écrit maccha, est une poudre très fine de thé vert moulu, qui a été broyée entre deux meules en pierre. Il est utilisé pour la cérémonie du thé japonaise et comme colorant ou arôme naturel avec des aliments tels que le mochi, les soba, la crème glacée au thé vert et une variété de wagashi (des pâtisseries japonaises). La région la plus réputée pour son matcha est Nishio, dans la préfecture d'Aichi ; le matcha de Nishio est appelé Nishiocha. </br>
            Le matcha est généralement assez cher comparé à d'autres formes de thé, bien que son prix dépende de sa qualité. Il peut être difficile à trouver hors du Japon, comme peuvent l'être les instruments utilisés traditionnellement pour le préparer et le consommer.</p>
          <p align="center"><a class="btn btn-concept-page" href="#">En voir plus</a></p>
        </div>
      </div>
      <!-- /.row -->

      <div id="slide4">

      </div>

      <!-- Project Four -->
      <div class="row">
        <div class="col-md-6">
          <h3>Ingrédients</h3>
          <p>Fruits (pomme, poire, citron...), épices (cannelle, clou de girofle, anis...), fleurs (camelia blanc, oeillet rose, fleur d'oranger...) ou autre (vanille, menthe poivrée, thym, réglisse…), une grande variété d’ingrédients sont à disposition. </br>
            Ils ont sélectionnés à maturité parmi les meilleurs productions. </br>
            Le soin dont ils font l’objet permet l’exaltation de leurs saveurs et souligne délicatement le caractère des thés qu'ils accompagnent.</p>
          <p align="center"><a class="btn btn-concept-page" href="#">En voir plus</a></p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/cinnamon-stick-514243_640.jpg" alt="">
        </div>
      </div>

    </div>
    </div>

        {% endblock %}
