{% extends 'layout.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1></h1>
        <p></p>
      </div>
    </section>

     <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Notre concept</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
      </header>

       <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">
        <small></small>
      </h1>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/green-tea-1409078_640.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Thé vert</h3>
          <p>Un thé vert est un thé dont l'oxydation naturelle est rapidement stoppée après la cueillette. Il en résulte un thé non-oxydé maximisant ainsi sa teneur en EGCG et autres catéchines. Le thé vert contient également une concentration importante de L-théanine et une concentration de caféine inférieure à celle du thé noir. Une fois infusé, il peut être consommé chaud ou froid. </br>
            L'arrêt de l'oxydation des feuilles de thé, moment clé dans la production du thé vert, peut être obtenu selon deux méthodes : la méthode chinoise, dans laquelle les feuilles sont chauffées dans des cuves, et la méthode japonaise. Les thés produits selon la méthode japonaise bénéficient d'un arrêt de l'oxydation à la vapeur ce qui préserve davantage les propriétés des feuilles de thé qu'avec la méthode chinoise. Ces thés de qualité se reconnaissent à la couleur foncée de leurs feuilles, à leur odeur d'algues une fois infusés et à leur goût herbacé et iodé.
          </p>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/tee-1022443_640.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Thé noir</h3>
          <p>Un thé noir, ou anglo-indien, est un thé qui a subi une oxydation complète. La plupart des thés consommés en Occident sont des thés noirs, fabriqués selon le procédé « orthodoxe » ou le procédé « CTC », deux modes de fabrication mis au point par les Britanniques au XIXe siècle. Alors qu'un thé vert perdra de sa fraîcheur après 12 à 18 mois, un thé noir peut se conserver plusieurs années sans perdre sa saveur. Il est donc plus facilement transportable et commercialisable. Ces raisons ont fait longtemps préférer ce thé en Occident. </br> Ces thés sont nommés thés rouges dans le monde chinois.</p>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/wheatgerm-grass-1169630_640.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Thé matcha</h3>
          <p>Le matcha (prononcé au Japon [mat.tɕa]), occasionnellement écrit maccha, est une poudre très fine de thé vert moulu, qui a été broyée entre deux meules en pierre. Il est utilisé pour la cérémonie du thé japonaise et comme colorant ou arôme naturel avec des aliments tels que le mochi, les soba, la crème glacée au thé vert et une variété de wagashi (des pâtisseries japonaises). La région la plus réputée pour son matcha est Nishio, dans la préfecture d'Aichi ; le matcha de Nishio est appelé Nishiocha. </br>
            Le matcha est généralement assez cher comparé à d'autres formes de thé, bien que son prix dépende de sa qualité. Il peut être difficile à trouver hors du Japon, comme peuvent l'être les instruments utilisés traditionnellement pour le préparer et le consommer.</p>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Four -->
      <div class="row">

        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="../public/assets/image/cinnamon-stick-514243_640.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Ingrédient</h3>
          <p>Fruits (pomme, poire, citron...), épices (cannelle, clou de girofle, anis...), fleurs (camelia blanc, oeillet rose, fleur d'oranger...) ou autre (vanille, menthe poivrée, thym, réglisse…), une grande variété d’ingrédients sont à disposition. </br>
            Ils ont sélectionnés à maturité parmi les meilleurs productions. </br>
            Le soin dont ils font l’objet permet l’exaltation de leurs saveurs et souligne délicatement le caractère des thés qu'ils accompagnent.</p>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>

    </div>
    </div>

        {% endblock %}
