{% extends 'layout.html.twig' %}

{% block body %}

    <header class="business-header-concept">
        <div class="container">
        </div>
    </header>

    <div class="container">

        <div class="nosproduits">
            <h2>Le concept</h2>
            <p align="center" class="lead">
                Pour sélectionner nos thés & ingrédients, nous avons établi des critères importants et incontournables : La politique de développement durable de nos acheteurs, l’origine des thés, la qualité de cueillette, la qualité des circuits de transformation, la traçabilité et les certificats de qualité.</p>
            <p align="center" class="lead">
                Certains thés sont produits de façon tellement traditionnelle et naturelle qu’il se suffisent à eux-mêmes, d'autres seront subtilements mis en valeur par la saveur d'une épice, d'un fruit... Pour connaitre les accords les plus appropriés, n'hesitez pas à consulter les conseils d'utilisation dans la description.</p>
        </div>

        <div id="slide4">
        </div>

        {% for category in categories %}
            {% if category.category != "Top des ventes" %}
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid rounded mb-3 mb-md-0 imgconc" src="{{ category.url }}" alt="{{ category.alt }}">
                </div>
                <div class="col-md-6">
                    <h3>{{ category.category }}</h3>
                    <p class="lead">{{ category.desccat }}</p>
                </div>
            </div>
            <!-- /.row -->
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}