{% extends 'layout.html.twig' %}

{% block body %}

    <header class="business-header-shop">
        <div class="container">
        </div>
    </header>

    <div class="container">
        <div class="nosproduits">
            <h2>Nos produits</h2>
            <p align="center">
                Pour sélectionner nos thés & ingrédients, nous avons établi des critères  importants et incontournables : La politique de développement durable de nos acheteurs, l’origine des thés, la qualité de cueillette, la qualité des circuits de transformation, la traçabilité et les certificats de qualité.</br>
                Certains thés sont produits de façon tellement traditionnelle et naturelle qu’il se suffisent à eux-mêmes, d'autres seront subtilements mis en valeur par la saveur d'une épice, d'un fruit... Pour connaitre les accords les plus appropriés, n'hesitez pas à consulter les conseils d'utilisation dans la description.
            </p>
        </div>
        <hr>
        {% for category in categories %}
        <section class="tea1">
            <div class="col-lg-12 titletop" align="center">
                <h2>{{ category.category }}</h2>
            </div>
            {% for product in products %}
                {% if category.category == product.category %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card" align="center">
                            <img class="card-img-top" alt="" src="{{ product.url }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.product }}</h5>
                                <p class="card-text">{{ product.descpro}}</p>
                            </div>
                            <div class="card-footer" align="center">
                                {#<a href="" class="btn btn-panier">Ajouter</a>#}
                                <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </section>
        {% endfor %}
    </div>
{% endblock %}