{% extends 'layout.html.twig' %}

{% block body %}

  <header class="business-header-shop">
    <div class="container">
    </div>
  </header>


  <div class="container">
    <div class="nosproduits">
      <h2>Nos produits</h2>
      <p align="center">
        Pour sélectionner nos thés & ingrédients, nous avons établi des critères  importants et incontournables : La politique de développement durable de nos acheteurs, l’origine des thés, la qualité de cueillette, la qualité des circuits de transformation, la traçabilité et les certificats de qualité.</br>
        Certains thés sont produits de façon tellement traditionnelle et naturelle qu’il se suffisent à eux-mêmes, d'autres seront subtilements mis en valeur par la saveur d'une épice, d'un fruit... Pour connaitre les accords les plus appropriés, n'hesitez pas à consulter les conseils d'utilisation dans la description.
      </p>
    </div>

    <hr>

    <section class="topvente">
      <div class="col-lg-12 titletop" align="center">
        <h2>Top des ventes</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.ecooe.com/ecooe-life/wp-content/uploads/2017/07/green-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.mommypotamus.com/wp-content/uploads/2015/10/sweet-dreams-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.strongandfizzy.com/wp-content/uploads/how-to-make-your-own-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.cheatsheet.com/wp-content/uploads/2015/09/Lemon-Tea-300x200.jpg?x67376" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>

    <section class="tea1">
      <div class="col-lg-12 titletop" align="center">
        <h2>Thé noir</h2>
      </div>
      <div class="row">
        {#<div class="col-lg-3 col-md-6 col-sm-12">#}
          {#<div class="card" align="center">#}
            {#<img class="card-img-top" src="https://www.ecooe.com/ecooe-life/wp-content/uploads/2017/07/green-tea-300x200.jpg" alt="">#}
            {#<div class="card-body">#}
              {#<h5 class="card-title">Card title</h5>#}
              {#<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>#}
            {#</div>#}
            {#<div class="card-footer" align="center">#}
              {#<a href="" class="btn btn-panier">Ajouter</a>#}
              {#<a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
        {##}
        {##}
        {#<div class="col-lg-3 col-md-6 col-sm-12">#}
          {#<div class="card" align="center">#}
            {#<img class="card-img-top" src="https://www.mommypotamus.com/wp-content/uploads/2015/10/sweet-dreams-tea-300x200.jpg" alt="">#}
            {#<div class="card-body">#}
              {#<h5 class="card-title">Card title</h5>#}
              {#<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>#}
            {#</div>#}
            {#<div class="card-footer" align="center">#}
              {#<a href="" class="btn btn-panier">Ajouter</a>#}
              {#<a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}

        {#<div class="col-lg-3 col-md-6 col-sm-12">#}
          {#<div class="card" align="center">#}
            {#<img class="card-img-top" src="https://www.strongandfizzy.com/wp-content/uploads/how-to-make-your-own-tea-300x200.jpg" alt="">#}
            {#<div class="card-body">#}
              {#<h5 class="card-title">Card title</h5>#}
              {#<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>#}
            {#</div>#}
            {#<div class="card-footer" align="center">#}
              {#<a href="" class="btn btn-panier">Ajouter</a>#}
              {#<a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}


        {#<div class="col-lg-3 col-md-6 col-sm-12">#}
          {#<div class="card" align="center">#}
            {#<img class="card-img-top" src="https://www.cheatsheet.com/wp-content/uploads/2015/09/Lemon-Tea-300x200.jpg?x67376" alt="">#}
            {#<div class="card-body">#}
              {#<h5 class="card-title">Card title</h5>#}
              {#<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>#}
            {#</div>#}
            {#<div class="card-footer" align="center">#}
              {#<a href="" class="btn btn-panier">Ajouter</a>#}
              {#<a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}

          {#test boucle#}

          {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card" align="center">
                <img class="card-img-top" alt="" src="{{ product.url }}">

                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer" align="center">
                  <a href="" class="btn btn-panier">Ajouter</a>
                  <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
                </div>
              </div>
            </div>
          {% endfor %}


          {#fin test#}




      </div>
    </section>

    <hr>


    <section class="tea2">
      <div class="col-lg-12 titletop" align="center">
        <h2>Thé blanc</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.ecooe.com/ecooe-life/wp-content/uploads/2017/07/green-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.mommypotamus.com/wp-content/uploads/2015/10/sweet-dreams-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.strongandfizzy.com/wp-content/uploads/how-to-make-your-own-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.cheatsheet.com/wp-content/uploads/2015/09/Lemon-Tea-300x200.jpg?x67376" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>


    <section class="tea3">
      <div class="col-lg-12 titletop" align="center">
        <h2>Thé spicy</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.ecooe.com/ecooe-life/wp-content/uploads/2017/07/green-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.mommypotamus.com/wp-content/uploads/2015/10/sweet-dreams-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.strongandfizzy.com/wp-content/uploads/how-to-make-your-own-tea-300x200.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" align="center">
            <img class="card-img-top" src="https://www.cheatsheet.com/wp-content/uploads/2015/09/Lemon-Tea-300x200.jpg?x67376" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer" align="center">
              <a href="" class="btn btn-panier">Ajouter</a>
              <a href="index.php?section=product" class="btn btn-produitplus">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>

  </div>
{% endblock %}

        {#<!-- Boucle DIANA#}
  {#<div class="row">#}
    {# for i in 0..15 %}#}
      {#<div class="col-lg-4 col-md-6 mb-4">#}
        {#<div class="card h-100">#}
          {#<a href="#"><img class="card-img-top imgshop" src="../public/assets/image/ceylan-op-50-sachets-cristal-1.jpg" alt=""></a>#}
          {#<div class="card-body">#}
            {#<h4 class="card-title">#}
              {#<a href="#">Le thé noir nature Ceylan OP</a>#}
            {#</h4>#}
            {#<h5>7,90 € - 100g</h5>#}
            {#<p class="card-text">L'Orange Pekoe se déguste idéalement le matin et toute la journée, avec ou sans nuage de lait. </br> Sa feuille sèche longue torsadée est de couleur marron foncé. Sa liqueur cuivrée brillante développe des notes boisées et fruitées bien charpentées tout en rondeur.#}
            {#<ul>#}
              {#<li>Accord : Quatre quarts fruits, chocolat noir et au lait, praliné, amandes, fruits confits.#}
              {#<li>Température : 90°C / Temps d’infusion : 4min#}
              {#<li>Avec ou sans lait#}
              {#<li>Moment de la journée : Matin et journée#}
            {#</ul>#}
            {#</p>#}
          {#</div>#}
          {#<div class="card-footer">#}
            {#<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>#}
          {#</div>#}
        {#</div>#}
      {#</div>-->#}
    {#{% endfor #}
