{% extends 'layout.html.twig' %}


{% block body %}

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="http://osmhotels.com//assets/check-true.jpg">
        <h3>Cher client</h3>
        <p style="font-size:20px;color:#5C5C5C;">Nous avons bien pris en compte votre demande, nous vous répondrons dans un délais de 48 heures.</p>
        <a href="../user/home.html.twig" class="btn btn-success"> Retour accueil </a>
    <br><br>
        </div>
        
	</div>
</div>


{% endblock %}